@import url("https://fonts.googleapis.com/css?family=Francois+One");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$border-radius: 5px;
$border: 1px solid black;
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f8f8fa;
  h1,
  p {
    color: #3764ab;
  }

  #drum-machine {
    border-radius: $border-radius;
  }
  .container {
    margin-top: 3rem;
    h1 {
      margin: 3rem 0;
      font-size: 3rem;
    }
    #display {
      height: 50px;
      width: 200px;
      margin: 3rem auto 3rem auto;
      border: 1px solid black;
      line-height: 3;
      background-color: #3764ab;
      p {
        color: #f8f8fa;
      }
    }
    .inline {
      display: inline-block;
      margin-left: 20px;
      margin-right: 20px;
    }

    #powerButton {
      border: $border;
      height: 30px;
      width: 70px;
      display: table-cell;
      vertical-align: middle;
      background-color: greenyellow;
    }

    #inner {
      border-radius: $border-radius;
      margin: 2rem 1rem 1rem 1rem;
      display: grid;
      grid-template-columns: repeat(3, minmax(50px, 400px));
      grid-gap: 0.5rem;
      justify-items: center;
      justify-content: center;
    }

    .drum-pad {
      background-color: #91a6d0;
      font-size: 45px;
      border: $border;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      display: inline-block;
      cursor: pointer;
      border-radius: $border-radius;
      box-shadow: 1px 1px 5px;
      p {
        color: #fae8eb;
        line-height: 150px;
      }
    }
  }
}

* {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

@media only screen and (max-width: 640px) {
  body {
    .container {
      margin-top: 1rem;
      h1 {
        margin: 0;
        font-size: 2rem;
      }
      #display {
        margin: 0 auto 0 auto;
      }
      #inner {
        grid-gap: 0;
        .drum-pad {
          font-size: 25px;

          font-size: 15px;
          p {
            line-height: 60px;
          }
        }
      }
    }
  }
}
