@import url('https://fonts.googleapis.com/css?family=Francois+One');

* {
    font-family: 'Francois One', sans-serif;
    text-align: center;
    
    #drum-machine {
        border: 1px solid black;
    }
    
    .drum-pad {
        border: 1px solid black;
        margin: 10px 20px 10px 10px;
        height: 50px;
        width: 25%;
        box-sizing: border-box;
        display: inline-block;
        padding-top: 12px;
    }

    #display {
        border: 1px solid black;
        margin:  0 2em 2em 2em;
    }

    

   
 

   
}





