@import url('https://fonts.googleapis.com/css?family=Francois+One');
$border-radius: 5px;
$border: 1px solid black;

body {
    background-color: #8BB2C9;
    h1, p {
        color: #3C618B;
    }

    #drum-machine {
        border-radius: $border-radius;
    }   
    .container {
        .inline {
            display: inline-block;
            margin-left: 20px;
            margin-right: 20px;
        }

        #powerButton {
            border: $border;
            height: 20px;
        }


        #inner {
            background-color: #8BB2C9;
            border-radius: $border-radius;
            margin: 0 10px 10px 10px;
            
        }

        .drum-pad {
            background-color: #4D75A3;
            font-size: 45px;
            border: $border;
            margin: 10px 20px 10px 10px;
            height: 150px;
            width: 25%;
            box-sizing: border-box;
            display: inline-block;
            cursor: pointer;
            border-radius: $border-radius;
            box-shadow: 1px 1px 5px;
            P {
                color: #F7F5F6;
            }
        }
    
        #display {
            vertical-align: middle;
            height: 50px; 
            width: 200px;
            margin: auto;
            box-sizing: border-box;
        }
    }
}

* {
    font-family: 'Francois One', sans-serif;
    text-align: center; 
}

@media only screen and (max-width: 640px) {
    body {
        
        .container {
            .drum-pad  {
                font-size: 25px;
                height: 50px;
                width: 75px;
                font-size: 15px;
            }

        }
    }
    
   
} 





