@import url('https://fonts.googleapis.com/css?family=Francois+One');
$primary:white;
$border-radius: 5px;
$border: 1px solid black;

body {
    background-color: $primary;
    #drum-machine {
        border: $border;
        border-radius: $border-radius;
    }   
    .container {

        #inner {
            border: $border;
            border-radius: $border-radius;
            margin: 0 10px 10px 10px;
        }

        .drum-pad {
            font-size: 45px;
            border: $border;
            margin: 10px 20px 10px 10px;
            height: 150px;
            width: 25%;
            box-sizing: border-box;
            display: inline-block;
            cursor: pointer;
            border-radius: $border-radius;
            box-shadow: 1px 1px 5px;
            background-color: #EFEFE4;
            color: #665E7A;     
        }
    
        #display {
            vertical-align: middle;
            height: 50px; 
            width: 200px;
            margin: auto;
            box-sizing: border-box;
        }
    }
}

* {
    font-family: 'Francois One', sans-serif;
    text-align: center; 
}

@media only screen and (max-width: 640px) {
    body {
        
        .container {
            .drum-pad  {
                font-size: 25px;
                height: 50px;
                width: 75px;
                font-size: 15px;
            }

        }
    }
    
   
} 





